/* Navbar styling */
.Navbar {
  background-color: var(--custom-blue);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0;
}

.Navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-weight: lighter;
}

.Navbar a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: black;
}



/* Responsive styling for Navbar */
@media (max-width: 767px) {
  .Navbar {
    background-color: var(--custom-blue); /* Ensure the Navbar retains its color */
  }
}

.name {
  font-size: 2rem;
  font-weight: lighter;
  font-stretch: wider;
}

.active a {
  background-color: var(--custom-pink);
  color: black;
  font-weight: 400;
  border-left: 1px solid var(--custom-black);
  border-right: 1px solid var(--custom-black);
  transition: background-color 0.5s ease;
}

/* General styling */
:root {
  --custom-blue: #b9d7dd;
  --custom-pink: #ece1e8;
  --custom-green: #c2ddd3;
  --custom-yellow: #fffed4;
  --custom-orange: #e2cab1;
  --custom-black: #000000;
  --light: white;
}

body {
  background-color: var(--light);
}

.card {
  border: none;
}

.box-shaddow {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.btn {
  background-color: var(--custom-blue);
  color: black;
  border: none;
  border-radius: 0;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--custom-pink);
  color: black;
  border: none;
  border-radius: 0;
  text-decoration: none;
}

a {
  background-color: var(--custom-blue);
  color: black;
  border: none;
  border-radius: 0;
  text-decoration: none;
}

a:hover {
  background-color: var(--custom-pink);
  color: black;
  border: none;
  border-radius: 0;
  text-decoration: none;
}
